body {
  background-color: white;
}

.navbarcustom{
    background-color: #639fb6!important;
    color:white!important;
}

.navbarcustom .yellowA a{
    color:white!important;
  border-color:white!important;
  background-color:#f9c10f!important;
  border-radius: 15px;
  vertical-align:middle;
}

.borderArrondie {
  border-style: solid;
  border-radius: 15px;
  border-width: 1px ;
}

.groupeName{
    color: #f9c10f;
    text-shadow: -1px 0 #1a3547, 0 1px #1a3547, 1px 0 #1a3547, 0 -1px #1a3547;
     vertical-align:middle;
     text-align: center;
}

.groupeName p{
    color:black;
    text-shadow:none;
}

.yellowBtn{
  color:white!important;
  border-color:white!important;
  background-color:#f9c10f!important;
}

.yellowBtnSpe .btn{
  color:white!important;
  border-color:white!important;
  background-color:#f9c10f!important;
}

.dropdown-menu a{
  color:white!important;
  border-color:white!important;
  background-color:#f9c10f!important;
}

.App {
  margin-top: 15px;
  background-color: white;
}

.App .navbar-brand {
  font-weight: bold;
  background-color: #639fb6;
  color: white!important;
}
.App a{
  color:white!important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white!important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.toggle {
  background-color: #639fb6;
  border: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
