body {
  background-color: white;
}

.navbarcustom{
    background-color: #639fb6!important;
    color:white!important;
}
.btn{
  color:white!important;
  border-color:white!important;
  background-color:#f9c10f!important;
}

.App {
  margin-top: 15px;
  background-color: white;
}

.App .navbar-brand {
  font-weight: bold;
  background-color: #639fb6;
  color: white!important;
}
.App a{
  color:white!important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white!important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.toggle {
  background-color: #639fb6;
  border: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
