.MainPage .lander {
  padding: 80px 0;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.MainPage .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.lander{
  margin-left: 25%;
  margin-right: 25%;
}
.MainPage .lander p {
  color: #999;
}